# temporary files
*.*~

# all the files in those dirs
el-get/*
elpa/*
auto-save-list/*
semanticdb/*
.python-environments/*
url/*
anaconda-mode/*
eshell/*

# other files
recentf
ac-comphist.dat
tramp
bookmarks
session.*
projectile-bookmarks.eld
srecode-map.el
