# dirs
irony/*
el-get/*
site-lisp/*
elpa/*
auto-save-list/*
semanticdb/*
.python-environments/*
url/*
anaconda-mode/*
eshell/*
_site/*

# files
savehist
*.*~
places
Gemfile.lock
ido.last
.emacs_workgroups
recentf
ac-comphist.dat
tramp
bookmarks
session.*
srecode-map.el
*.elc
projectile.cache
projectile-bookmarks.eld
